<center> 
  <h3><%= t "layout.header.top_read" %></h3>
  <hr>
</center>
<div class="row">
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
</div>

<center> 
  <h3><%= t "layout.header.review" %></h3>
  <hr>
</center>
<div class="row">
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
</div>

<center> 
  <h3><%= t "layout.header.top_rate" %></h3>
  <hr>
</center>
<div class="row">
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
  <div class="col-md-4">
    <img class="image-book" src="tamquoc.jpg">
    <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
  </div>
</div>
