<div class="col-md-9">
  <%= render partial: "histories/history", collection: @histories, as: :history%>
</div>
<div class="col-md-3">
  <center>
    <h3><%= t "layout.header.top_read" %></h3>
  </center>
  <div class="row">
    <center>
      <img class="image-book" src="tamquoc.jpg">
      <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
    </center>
  </div>
  <div class="row">
    <center>
      <img class="image-book" src="tamquoc.jpg">
      <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
    </center>
  </div>
  <div class="row">
    <center>
      <img class="image-book" src="tamquoc.jpg">
      <h4><%= link_to (t "layout.header.title_book_demo"), "#" %></h4>
    </center>
  </div>
</div>
