<% if verify_like(history).nil? %>
  <%= form_for current_user.likes.build do |f| %>
    <%= hidden_field_tag :history_id, history.id  %>
    <div style="position:relative">
      <%= f.submit "", class: "btn input-like", "data-like_activity": history.id  %>
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </div> 
    <style>
      .input-like{
        position:absolute;
        opacity:0;
        border:none;
        z-index:999;
        left:0;
        background:transparent;
      }
    </style>
  <% end %>
<% else %>
  <%= form_for current_user.likes.find_by(history_id: history.id),
    method: :delete do |f| %>
      <div style="position:relative">
      <span class="glyphicon glyphicon-thumbs-up" style="color:blue"></span>
      <%= f.submit "", class: "btn input-like", "data-like_activity": history.id %>
      </div>
    <%= hidden_field_tag :history_id, history.id  %>
    
  <% end %>
<% end %>
