<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= t "requests.form_request" %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
      </div>
      <div class="modal-body">
        <%= form_for @request, remote: true do |f| %>
          <%= render "shared/error_messages", object: f.object %>
        
          <%= f.label :name_book %>
          <%= f.text_field :name_book, class: "form-control" %><br>
        
          <%= f.label :content %>
          <%= f.text_area :content, class: "form-control" %> <br>
          <% if @request.status == Settings.approved || @request.status == Settings.rejected %>
            <%= f.submit yield(:button_text), class: "btn btn-primary form-control", disabled: true %>
          <% else %>
            <%= f.submit yield(:button_text), class: "btn btn-primary form-control" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
