<hr>
<div class="row">
  <div class="col-md-1">
    <%= link_to (image_tag rating.user.avatar.thumb.url, class: "image-user-comment",
      title: rating.user.name).html_safe, rating.user %>
  </div>
  <div class="col-md-11">
    <div class="review-<%= rating.id %> review-rating">
    <div class="title-rating row">
      <div class="col-md-5">
        <%= rating.title %>
      </div>
    </div>
    <div class="row">
    <div class="col-md-2">
      <div class="area-view-rate">
        <%= render "ratings/star", poin: rating.poin %>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= rating.content %>
          <center class="area-btn-review">
            <%= link_to (t "rating.comment"), new_book_rating_comment_path(rating.book, rating), class: "btn btn-danger btn-sm add_comment",
              remote: true, "data-review_id": rating.id %>
            <% if current_user.present? && current_user.id == rating.user_id %>
              <%= link_to (t "edit"), edit_book_rating_path(rating.book, rating), class: "btn btn-success btn-sm" %>
            <% end %>
          </center>
        <div id="comment-for-rating-<%= rating.id %>">
        </div>
        <div class="col-md-12" id="area-comment-rating-<%= rating.id %>">
          <%= render rating.comments.ordered %>
        </div>
      </div>
    </div>
    <br>
  </div>
  </div>
</div>
