<div class="area-star">
  <span class="fa fa-star <%= 'checked' if poin > 1 %>"></span>
  <span class="fa fa-star <%= 'checked' if poin > 2 %>"></span>
  <span class="fa fa-star <%= 'checked' if poin > 3 %>"></span>
  <span class="fa fa-star <%= 'checked' if poin > 4 %>"></span>
  <span class="fa fa-star <%= 'checked' if poin > 5 %>"></span>
</div>
