<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= t "detail_book" %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag @book.image.thumb.url, class: "img-book-modal" %>
          </div>
          <div class="col-md-8">
            <h2><%= @book.name %></h2>
            <p>
              <div class="col-md-3">
                Author: <%= @book.author %>
              </div>
              <div class="col-md-3">
                Mark read: <%= @book.user_books.by_mark_book(@book.id, "read").count %>
              </div>
              <div class="col-md-3">
                Mark favorite: <%= @book.user_books.by_mark_book(@book.id, "favorite").count %>
              </div>
              <div class="col-md-3">
                Mark reading: <%= @book.user_books.by_mark_book(@book.id, "reading").count %>
              </div>
            </p>
            <p><%= @book.description %></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <center>
          <%= link_to "Show review", @book, class: "btn btn-success" %>
          <%= link_to "Close", @book, class: "btn btn-danger" %>
        </center>
      </div>
    </div>
  </div>
</div>
