<center>
  <h1><%= t "requests.form_request" %></h1>
</center>
<div class="col-md-8 col-md-offset-2">
  <%= form_for [:admin, @request] do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label :name_book %>
    <%= f.text_field :name_book, class: "form-control" %><br>

    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %> <br>

    <%= f.select :status, options_for_select(@status,
      selected: @status[@request.status]), {}, class: "form-control" %>
    <br>

    <%= f.submit (t "update"), class: "btn btn-primary form-control" %>
  <% end %>
</div>
