<center>
  <h1><%= t "requests.list_request" %></h1>
</center>
<div class="col-md-10 col-md-offset-1">
  <%= form_tag admin_requests_path, method: :get do %>
    <br>
    <div class="col-md-8 col-md-offset-2">
      <select id="status" name="status" class="form-control">
        <option value=""><%= t "show_all" %></option>
        <option value="<%= Settings.value_pending %>"><%= Settings.pending %></option>
        <option value="<%= Settings.value_approved %>"><%= Settings.approved %></option>
        <option value="<%= Settings.value_rejected %>"><%= Settings.rejected %></option>
      </select>
    </div>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>      
        <th scope="col" class="text-center"><%= t "requests.name_book" %></th>
        <th scope="col" class="text-center"> <%= t "requests.user_request" %> </th>
        <th scope="col" class="text-center"><%= t "requests.status" %></th>
        <th scope="col" class="text-center"><%= t "requests.request_at" %></th>
        <th scope="col" class="text-center"> <%= t "layout.header.action" %> </th>
      </tr>
    </thead>
    <tbody id="table-request">
      <%= render @requests %>
    </tbody>
  </table>
</div>
