<footer class="footer">
  <small>
    <li><%= link_to (t "layout.header.title_book_demo"), "#" %></li>
    <li><%= link_to (t "layout.header.title_book_demo"), "#" %></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t "layout.header.title_book_demo"), "#" %></li>
      <li><%= link_to (t "layout.header.title_book_demo"), "#" %></li>
      <li><%= link_to (t "layout.header.title_book_demo"), "#" %></li>
    </ul>
  </nav>
</footer>
