<!DOCTYPE html>
<html>
  <head>
    <title><%= t "layout.header.home" %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <% flash.each do |message_type, content_messages| %>
      <div class="alert alert-<%= message_type %>"><%= content_messages %></div>
    <% end %>
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
